{% extends 'base.html.twig' %}

{% block title %}Your first region{% endblock %}

{% block body %}
    <div class="d-flex flex-sm-row flex-column">
        <div class="mr-auto p-2">
            <h1>Your first region</h1>
        </div>
    </div>

    <div style="height: 80vh;">
        {% include 'map/world.html.twig' %}
    </div>

{% endblock %}







{% block javascripts %}
{{ parent() }}
<script>

    $.ajax({
        url: "{{ path('map_world_json') }}",
        method: "post",
        data: { 'id': {{app.user.server.id}} }
    }).done(function(json){

        var j =JSON.stringify(json);
        
        var code1 = document.createElement('code');
        code1.appendChild(document.createTextNode(j));
        document.getElementById('hexmap').appendChild(code1);
        var hexmap = goHexmap();
                    
        hexmap.setClass(function(id,hex){
            return hex.type;
        });
        
        hexmap.setContent(function(id,hex){
            // Build the circular token that sits on a hex


                str = '<div class="token'+((hex.spawnable && hex.state == null) ? ' token-red':'')+'">';
                if(hex.type !== "Water"){
                    str += '<div class="id">'+' '+hex.q+','+hex.r+'</div>'; //coor
                    str += '<div class="dice">'+hex.name+'</div>'; //nom
                    str += '<div class="odds">'+id+ '</div>'; 
                 }
                str += '</div>';

            return str;
        });

        hexmap.setBorder(function(id,hex){
            return hex.type;
        });

            //Event
        hexmap.on('click',function(e){
            
            var info = document.getElementById('map-info');
            info.innerHTML ='<div class="progress"><div class="progress-bar-animated progress-bar-striped bg-secondary" style="width:100%"></div></div>';
            
            
            $.ajax({
                url: "{{ path('map_region_info_json') }}",
                method: "post",
                data: { 'id': e.hex.id }
            }).done(function(json){
                while (info.firstChild) {
                    info.removeChild(info.firstChild);
                }
                
                //coor
                var p = document.createElement('p');
                p.appendChild(document.createTextNode('['+e.hex.r+','+e.hex.q+']'));
                var p1 = document.createElement('p');
                p1.appendChild(document.createTextNode('State : ' + json['state']['name'] ));
                
                info.appendChild(p);
                info.appendChild(p1);
                
                if(json['region']['spawnable'] && (json['state']['id'] == undefined || json['state']['id'] == null)){
                    var form = document.createElement('form');
                    form.setAttribute('method', 'post')
                    var submit = document.createElement('input');
                    submit.setAttribute('type', 'submit');
                    submit.classList.add('btn-action');
                    submit.setAttribute('value', 'Found my State');
                    form.appendChild(submit);

                
                    var input2 = document.createElement('input');
                    input2.setAttribute('name', 'region');
                    input2.setAttribute('value', e.hex.id);
                    input2.setAttribute('type', 'hidden');

                    form.appendChild(input2);
                    info.appendChild(form);
                    
                }
                
                
                
                
            });
            
        });
    
        zoomPan();
    });

</script>    
{% endblock %}