{% extends 'base.html.twig' %}

{% block title %}Domain index{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>Domain</h1>
        </div>
        <div class="p-2"><a class="btn-action" href="{{ path('domain_new') }}"><span class="icon icon-Add-2"></span> New Domain</a></div>
    </div>

    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
                <td>
                    <a href="{{ path('domain_show', {'id': domain.id}) }}"><span class="icon-Fleche btn-next"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
