*{
    color: white;
}

option, input{
    color:black;
}

body{
        background-color: #3c4a54;

}



.page-item{
    color:white;
    background-color: #232c32;
}
.page-link{
    color:white;
    background-color: #232c32;
    border: 1px solid black;
    font-size: 1.5rem;
}
.page-link:hover{
    background-color: #3c4a54;
    border: 1px solid black;
    color: #ddd;
}


.block-black{
    background-color: #39464f;
    padding: 10px 10px 30px 10px;
    box-shadow: 1px 2px 2px black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2{
    font-size: 1.5rem;
}
.block-title{
    border-bottom: 1px solid white;
    
}
a:hover{
        text-decoration: none;
}

.main-content { 
    margin-top: 5vh;   
}

input[type=color]{
    width: 5em;
}
h1{
    display: inline;
}

/*********** Btn ***********/
.btn-action{

    background:    #232c32;
    border-radius: 4px;
    padding:       4px 60px 4px 60px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 22px/1 "Calibri", sans-serif;
    text-align:    center;
    border:        0;      
    box-shadow: 0px 1px 1px 0px black;
    border: 1px solid black; 
}

.btn-action:hover{
    color:white;
}


.btn-action > .icon{
    padding-left: 10px;
    padding-right: 10px;
}

.btn-action:hover > .icon{ 
    color:white;
    transition: 1s;
    padding-left: 0px;
    padding-right: 20px;
}



.btn-form{
    position:absolute;
    right: 15px;
    margin-top: 15px;
}

.btn-next{
    font-size: 1.8em;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-next:hover{
    padding-right: 0px;
    padding-left: 10px;
    color: #ddd;
    transition: 1s;
    
}

.btn-back{
    float: left;
    padding: 5px 8px 5px 8px;
    margin-right: 10px;
    margin-top: 2px;
}


main{
    overflow-y: auto;
}