{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a class="btn-action" href="{{ path('state_index') }}">See the world</a></p>
    {% endif %}
{% endblock fos_user_content %}
