{% extends 'base.html.twig' %}

{% block title %}State index{% endblock %}

{% block body %}

<div class="d-flex flex-sm-row flex-column">
    <div class="mr-auto p-2">
        <h1>Worldly</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        
            
            {% for action in actions %}
                <div class="d-flex flex-sm-row flex-column block-title">
                    <div class="mr-auto p-2">
                        <h2>Awaiting action</h2>
                    </div>
                </div>
                <div class="block-black">
                    <p>{{ action.title }}</p>
                    <a class="btn-action" href="{{action.link}}">{{ action.btn }}</a>
                </div>   
                    
            {% else %}
                <p>no action found</p>
            {% endfor %}
            
        
    </div>



</div>














{% endblock %}