

<!-- Plugin Map -->
<link rel="stylesheet" href="/plugin/hexmap/stuquery.hexmap.css">
<link rel="stylesheet" href="/plugin/hexmap/perso.hexmap.css">
<script type="text/javascript" src="/plugin/hexmap/stuquery.min.js"></script>
<script type="text/javascript" src="/plugin/hexmap/stuquery.hexmap.js"></script>


<!-- Plugin Zoom -->
<script src='/plugin/panzoom/panzoom.min.js' ></script>


<section class="area-map" id="area-map">
    <div id="map-info">
    
    <div>
    Click or hover on a hex
    
    
    </div>
    
</div>
    <div id="hexmap" class="hexmap" data-zoom="1">
        <code>
        {
            "layout":"odd-r",
            "hexes": {
                "0":{"q":0,     "r":0,    "name":"0-0",    "type":"mountains",      "state":1       },
                "1":{"q":1,     "r":0,    "name":"1-0",    "type":"desert",         "state":1       },
                "2":{"q":2,     "r":0,    "name":"2-0",    "type":"fields",         "state":2       },
                "3":{"q":0,     "r":1,    "name":"0-1",    "type":"forest",         "state":2       },
                "4":{"q":1,     "r":1,    "name":"1-1",    "type":"mountains",      "state":2       },
                "5":{"q":2,     "r":1,    "name":"2-1",    "type":"mountains",      "state":2       },
                "6":{"q":0,     "r":2,    "name":"0-2",    "type":"mountains",      "state":1       },
                "7":{"q":1,     "r":2,    "name":"1-2",    "type":"mountains",      "state":1       },
                "8":{"q":2,     "r":2,    "name":"2-2",    "type":"mountains",      "state":2       },
                "9":{"q":10,     "r":10,    "name":"2-2",    "type":"mountains",      "state":2       },
                "100":{"q":10,     "r":10,    "name":"2-2",    "type":"mountains",      "state":1       },
                "101":{"q":100,     "r":30,    "name":"2-2",    "type":"mountains",      "state":1       },
                "102":{"q":-5,     "r":-5,    "name":"2-2",    "type":"mountains",      "state":1       }

            }
        }
        </code>


    </div>
</section>




<script>
S(document).ready(function(){
	var hexmap = S.hexmap('hexmap');
	hexmap.positionHexes();//.resize();

	hexmap.setContent(function(id,hex){
		// Build the circular token that sits on a hex

		str = '<div class="token'+((hex.state==2 || hex.dice == 6) ? ' token-red':'')+'">';
            str += '<div class="id">'+' '+hex.q+','+hex.r+'</div>'; //coor
            str += '<div class="dice">'+hex.name+'</div>'; //nom
            str += '<div class="odds">'+id+ '</div>'; 
		str += '</div>';

		return str;
	});
	
	// Set the CSS class of each hex to be the hex type
	hexmap.setClass(function(id,hex){
		return hex.type;
	});
    
    hexmap.setBorder(function(id,hex){
		return hex.type;
	});

    
    //Event
    hexmap.on('click',function(e){
        S('#map-info > div').html('You have hovered over hex '+e.i+' ('+e.hex.id+')');
	});
    
    
    
    //Zoom and move
    var x = 0; 
    var y = 0;
    var z = 0.5;
    var region = document.querySelectorAll(".hex[data-id='1']");

    if(region.length){
        x = region[0].offsetLeft - document.getElementById('area-map').clientWidth;
        y = region[0].offsetTop - document.getElementById('area-map').clientHeight;
        z = 0.5;
    }
    
	var zoom = panzoom(document.getElementById('hexmap'), {
        maxZoom: 4,
        minZoom: 0.2,
    });
    
    zoom.zoomAbs(
          -x, // initial x position
          -y, // initial y position
          z // zoom
    );

    
    
});

</script>