
<!-- Sidebar -->
<nav class="sidebar">
    <div class="menu-top">
        <a href="/" class="menu-item menu-logo"  aria-label="Worldly" title="Worldly">
            <i class="menu-icon-logo icon-Station" aria-hidden="true" ></i>
        </a>
    </div>
    

    
	<div class="menu">
		<div class="menu-group">
            <a href="/user/{{ app.user.id }}" class="menu-item {% if route == '/user/' ~ app.user.username %}current{% endif %}" aria-label="Profil" title="Profil">
                <i class="menu-icon icon-Person" aria-hidden="true"></i>
            </a>
			<a href="/state" class="menu-item {% if route == '/state/' %}current{% endif %}" aria-label="World" title="World">
                <i class="menu-icon icon-Map" aria-hidden="true"></i>
            </a>
		</div>

		<div class="menu-group">
            {% if menu is defined and menu.states is defined %}
            {% for state in menu.states %}
                <a href="/state/{{ state.id }}" class="menu-item {% if route == '/state/' ~state.id %}current{% endif %}" aria-label="P{{ state.name }} state" title="{{ state.name }} | State">
                    <i class="menu-icon icon-Country" aria-hidden="true"></i>
                </a>
            {% endfor %}
            {% endif %}

		</div>

		<div class="menu-group">
			<a class="menu-item" aria-label="Driver's Licenses" title="Driver's Licenses">
                <i class="menu-icon icon-Station" aria-hidden="true"></i>
            </a>

			<a class="menu-item" aria-label="Passports" title="Passports">
                <i class="menu-icon icon-Group" aria-hidden="true"></i>
            </a>

			<a class="menu-item" aria-label="Social Security Numbers" title="Social Security Numbers">
                <i class="menu-icon icon-Group" aria-hidden="true"></i>
            </a>

		</div>

	</div>

	<div class="menu-bottom">
		<a class="menu-item" aria-label="More Options" title="More Options">
            <i class="menu-icon icon-Menu-2" style="line-height: 0.5" aria-hidden="true"></i>
        </a>

	</div>

</nav>
